*|* {
/*     border: lightslategray solid 1px; */
    margin: 0%;
    padding: 0%;
}

#navbar {
    position: fixed; /* User Story #11 */
    top: 0;
    width: 100%;
    height: 7%;
    background-color: rgb(184, 46, 46);
    
}

.menu{
    display: flex;
    flex-direction: row-reverse;    
    align-content: center;
    align-items: center;
    font-size: 80%;
}

@media (max-width: 450px ) {
    #menu {
        flex-direction: column;
    }   

    #navbar {
        height: 18%;
    }
}

a {
    display: flex;
    text-decoration: none;
}

#menu h2 {
    margin: 2vh 2vw;    
}

#menu {
    display: flex;
    justify-content: end;
    height: 100%;
    
}

#welcome-section {
    height: 100vmin;  /* User Story #10 */
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-section h1 {
    color: ivory;
    font-family: sans-serif;
    font-size: 250%;
    font-weight: bolder;
}

.text {
    text-align: center;
    padding: 1vh;
    color: ivory;
    font-family: 'Comfortaa';
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(57, 55, 192);
    width: 100;
    padding: 5%;
}

#thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tile {
    max-width: 30%;
    margin: 2%;
    align-self: center;
    justify-self: center;
}

img {
    max-width: 30vw;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    align-content: center;
    padding: 3%;
}

h3 {
    background-color: rgb(32, 32, 32);
}

h5 {
    color: ivory;
    align-self: center;
}

#profile-links {
    background-color: rgb(32, 32, 32);
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 10%;
}

#profile-links img {
    align-self: center;
    justify-self: center;
}

#profile-links a {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}

hr {
    color: rgb(184, 46, 46);   
}